@model GeneralStore.MVC.Models.CustomerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().ItemCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().TimeOfPurchase)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfPurchase)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Transaction", new { id = item.TransactionId }, null) |
                    @Html.ActionLink("Details", "Details", "Transaction", new { id = item.TransactionId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Transaction", new { id = item.TransactionId }, null)
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
