@model IEnumerable<GeneralStore.MVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer</h2>

<p>
    @Html.ActionLink("Add a new customer", "Create")
</p>

<table class="table">
    <tr><th>@Html.DisplayNameFor(model => model.CustomerId)</th>
    <th>@Html.DisplayNameFor(model=>model.FullName)</th></tr>
    @foreach(var item in Model)
    {
        <tr><td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
    <td>@Html.DisplayFor(modelItem=>item.FullName)</td></tr>
    }

</table>